<footer>
    <div class="topfooter footer-wrapper content-wrapper">
        <div>
            <div class="call">
                <h5 id="kontakt">Zavolejte mi</h5>
                <a aria-label="Zavolejte mi" href="tel:{{ site.phone }}">{{ site.phone_short }}</a>
            </div>
            <ul class="contact">
                <li><img src="/assets/ico/at-sign-w.svg"><span><a href="mailto: {{ site.email }}">{{ site.email }}</a></span></li>
                <li><img src="/assets/ico/person-w.svg"><span>Michal Votroubek</span></li>
            </ul>
        </div>
        <div id="social">
            <h5>Jsem na sítích</h5>
            <ul class="contact">
                <li><img src="/assets/ico/instagram-w.svg"><span><a href="https://instagram.com/{{ site.instagram_username }}">{{ site.instagram_username }}</a></span></li>
                <li><img src="/assets/ico/facebook-w.svg"><span><a href="https://www.facebook.com/{{ site.facebook_username }}">{{ site.facebook_username }}</a></span></li>
            </ul>
        </div>
    </div>
</footer>
<footer class="tail-footer">
    <div class="content-wrapper">
        <small>IČ: {{ site.ico }}, {{ site.dph }}. Icons from <a href="//www.feathericons.com">feather</a>.</small>
    </div>
</footer>