@use "var";

.hero-border {
    width: fit-content;
    display: flex;
    margin: auto;

    padding: 2em;
    box-sizing: border-box;

    background-image: url('/assets/img/concrete_staggered.webp');
    background-position: center;

    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 3em, calc(100% - 3em) 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 3em, calc(100% - 3em) 0);

    @media only screen and (max-width: 600px) {
        display: none;
    }
}

.hero-inner {
    display: flex;
    background-color: var.$bg-color;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 2em, calc(100% - 2em) 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 2em, calc(100% - 2em) 0);
}

.hero-txt {
    display: block;
    margin: auto;
    background-color: var.$bg-color;
    padding: 1em;
    min-width: 15ch;
    margin: 2em;
    width: 25em;
}

.hero-txt span {
    font-family: var.$heading-font;
    display: block;
    margin: 18px;
    line-height: 1.3;
}

.hero-txt .hero-txt-title {
    font-size: 3.052rem;
    font-weight: 600;
}

.hero-txt .hero-txt-subtitle {
    text-align: left;
    font-size: 1rem;
}