@use "var";

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: var.$bg-color;
    color: var.$fg-color;
    font-family: var.$body-font;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var.$heading-font;
}

a {
    font-family: var.$heading-font;
    text-decoration: none;
    color: inherit;
}


a:hover {
    text-decoration: underline;
}

.content-wrapper {
    position: relative;
    margin: auto;
    flex-grow: 1;
    max-width: MIN(960px, 100vw);
    box-sizing: border-box;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;

    @media only screen and (max-width: 960px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

nav,
footer,
main {
    display: flex;
}

main {
    margin-bottom: 4em;
}

iframe {
    max-width: 100%;
}

p a {
    text-decoration: underline;
}

p a+a {
    margin-left: 1em;
}