.hero {
    width: 100%;
    max-width: 100vw;
    max-height: 70vw;

    //height: 935px;

    overflow: hidden;
    display: flex;

    padding: 2em;
    box-sizing: border-box;

    background-position: center;

    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 2em, calc(100% - 2em) 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 2em, calc(100% - 2em) 0);

    @media only screen and (max-width: 600px) {
        display: none;
    }
}

.hero-txt {
    display: block;
    margin: auto;
    width: 35em;
    background-color: $bg-color;
    padding: 1em;
    text-align: center;

    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 2em, calc(100% - 2em) 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 2em, calc(100% - 2em) 0);

    min-width: 15ch;

    margin-top: 5em;
    margin-bottom: 5em;

    @media only screen and (max-width: 960px) {
        width: 25em;
    }
}

.hero-txt span {
    font-family: $heading-font;

    display: block;
    margin: 18px;

    line-height: 1.3;
}


.hero-txt .hero-txt-title {
    font-size: 2.441rem;
    font-weight: 600;

    @media only screen and (max-width: 960px) {
        font-size: 2rem;
    }
}

.hero-txt .hero-txt-subtitle {
    font-size: 1.25rem;
    text-align: left;

    @media only screen and (max-width: 960px) {
        font-size: 1rem;
    }
}