---
layout: default
---
<style>

section {
padding-top: 3em;
}
.section_service {
display: grid;
grid-gap: 1em;
gap: 1em;
grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
margin-bottom: 4em;
}

.section_service > .service{
background-color: white;
padding: 1em;
}

.price_bubble {
margin: auto;
display: flex;
border-radius: 50%;
background-color: #99dddf;
width: 10em;
height: 10em;
}

.price_bubble_content {
line-height: 1;
color: white;
font-size: 2em;
text-align: end;
margin: auto;
}

.hero {
	text-align: center;
	width: fit-content;
	margin: auto;
	margin-bottom: 5em;
margin-top: 3em;
}
.subtitle {
margin:auto;
	max-width: 30ch;
	font-size: 1.4em;
}

</style>
<div class="home">
<section class="section_hero" id="section_hero">
	<div class="hero">
<div class="subtitle">{{site.description}}</div>
	</div>
</section>
<section class="section_service" id="section_service">
{%- for post in site.categories.service -%}
	<div class="service">
		{{ post.content }}
	</div>
{%- endfor -%}
</section>
<section class="section_about" id="section_about">
{%- for post in site.categories.about -%}
	<div class="about">
		{{ post.content }}
	</div>
{%- endfor -%}
</section>
<section class="section_price" id="section_price">
{%- for post in site.categories.price -%}
	<div class="price">
		{{ post.content }}
	</div>
	<div class="price_bubble">
		<div class="price_bubble_content">
			<b>{{ site.price }}</b> Kč<br>
			/ hod.
		</div>
	</div>
{%- endfor -%}
</section>
</div>
</div>
